* {
  box-sizing: border-box;
}

body {
  display: block;
  background-color: #e6e6e6;
  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,'Roboto',sans-serif;
  font-size: 1em;
  background: #fff;
  /* margin: 0 auto;
  text-align: center; */
}

header {
  text-align: center;
  background: #fff;
  margin: auto;
}

nav, footer {
  text-align: center;
}

footer {
  font-size: 0.6em;
}

ul {
  padding: 0;
  margin: 20px;
}

li {
  padding: 8px;
  margin: auto;
  list-style: none;
  text-align: center;
  border: 1px solid #666666;
}

li span {
  padding: 10px;
}

li .bookmark-rating {
  font-size: 0.8em;
}

li .bookmark-description {
  margin: auto;
  padding: auto;
  margin-top: 10px;
  text-align: center;
}

button, input[type=submit] {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(102, 102, 102);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 8px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

li button {
  width: 100px;
  background-color: #666;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}


li button:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 13px 46px 0 rgba(0,0,0,0.19);
}

.expanded-button {
  float: center;
  margin-top: 10px;
}

form #bookmark-rating {
  font-size: 14px;
}

.rating-column {
  float: right;
}

.input-group {
  padding-bottom: 8px;
}

.error-red {
  color: red;

}




@media (min-width:992px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  label {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  button[type="submit"] {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
  }
  input[type="radio"] {
    height: 10px;
    width: 10px;
  }

  select {
    height: 40px;
    width: 80px;
  }

  select option {
    font-size: 1rem;
  }
}