* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button:hover {
  cursor: pointer;
}

/* 
input .error-feedback {
  background-color: transparent; 
  border-style: solid; 
  border-width: 0px 0px 1px 0px; 
  border-color: darkred;
} */